body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #1f1f1f;
    height: 100vh;
}
.google{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}
.header a{
    text-decoration: none;
    color:#1f1f1f
}
.pesquisar{
    width: 561px;
    border-radius: 24px;
    padding-inline-end: 87px;
    height: 48px;
    font-size: 16px;
    gap: 5px;
}
.pesquisar-barra{
    border: none;
    box-shadow: 0 2px 6px 0 #20212451;
    padding: 2px;
    padding-left: 10px;
}
.input-button{
    background-color: #f2f4f7;
    border: none;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    height: 33px;
    font-size: 15px;
    cursor: pointer;
    justify-content: center;
}
.input-button:hover{
    box-shadow: 0 2px 6px 0 #20212451;
    outline: none;
}
.bottom{
    padding: 15px 30px;
    border-bottom: 1px solid;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f2f2f2;
    flex-direction: row;
}
.bottom a{
    text-decoration: none;
    color: #1f1f1f;
}
.bottom1{
    justify-content: space-evenly;
}